<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261077739633-sfpvnuhv0n6gqjd3kht76gtlut3iacc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261077739633-sfpvnuhv0n6gqjd3kht76gtlut3iacc9</string>
	<key>API_KEY</key>
	<string>AIzaSyC6BY3BA4kz0r5e0xQYL2E7kJKQACpzGBY</string>
	<key>GCM_SENDER_ID</key>
	<string>261077739633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrevorBuhler.freshApp</string>
	<key>PROJECT_ID</key>
	<string>fresh-b551c</string>
	<key>STORAGE_BUCKET</key>
	<string>fresh-b551c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261077739633:ios:c6d54842136b36abab53d0</string>
</dict>
</plist>